/*
    Styling HTML tables with CSS: https://www.youtube.com/watch?v=biI9OFH6Nmg
*/

.content-table {
    box-sizing: border-box;
    /* more compact */
    border-collapse: collapse; 
    display: block;
    height: fit-content;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: auto;

    /* space between top and bottom */
    margin: 25px 0;
  
    font-size: 0.9em;
    width: fit-content;
    /* max-width: 450px; */
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    
}

.content-table thead {
    position: sticky;
    top: 0px;
    margin: 0 0 0 0;
}

.content-table thead tr {
    background-color: #e21833;
    width: 450px;
    color: white;
    text-align: left;
    font-weight: bold;
}
  
.content-table th,
.content-table td {
    padding: 12px 15px;
}
  
.content-table tbody tr {
    border-bottom: 1px solid lightgray;
    color: rgb(70, 63, 63);
}
  
.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
  
.content-table tbody tr:last-of-type {
    border-bottom: 7px solid #e21833;
}
  
input[type='radio'] {
    box-sizing: border-box;
    appearance: none;
    background: white;
    outline: 2px solid lightgray;
    border: 2px solid white;
    width: 16px;
    height: 16px;
}
  
input[type='radio']:checked {
    background: #e21833;
}