.menu-container {
  max-width: 500px;
}

.App-Container {
  display: flex;

}

.MainContent-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 800px;
}